<a href="https://colab.research.google.com/github/SALMA55ASHRAF/AI_instant_tasks/blob/master/60_python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
# first way using methods from str class
string="hello world"
length=len(string)
print(f"the length of my string is {length}.")

the length of my string is 11.

In [ ]:
# second way  using string as array of char
string="hello world"
counter=0
for i in string:
  counter+=1
print(f"the length of my string is {counter}.")

the length of my string is 11.

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string=input("enter your string: ")
if len(string)<2:
  print("empty string")
else:
  print(string[:2]+string[-2:])

enter your string: k
empty string

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
string=input("enter your string: ")
if len(string)<3:
  print(string)
elif string[-3:]=="ing":
  string=string.replace(string[-3:],"ly")
  print(string)
else:
  string+="ing"
  print(string)

enter your string: eating
eatly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def fun(my_list):
  length=[]
  for word in my_list:
    length.append(len(word))
  l=length.index(max(length))
  print(f"the longest string is {my_list[l]} and its lenth is {length[l]}")

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
# first way
s="abca"
s=s.replace(s[0],"e")
s=s.replace(s[-1],"e")
print(s)

ebce

In [ ]:
# second way
s="abca"
sub=s[1:-1]
l=list(sub)
l.insert(0,"e")
l.append("e")
news=""
for i in l:
  news+=i
print(news)

ebce

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
s="abca"
news=""
for i in range(len(s)):
  if i%2==0:
    news+=s[i]
print(news)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
sentence="amr and ahmed are frindes but amr is the tallest"
for word in sentence.split(" "):
  print(f"the '{word}' occured {sentence.count(word)} times.")
words_list=sentence.split(" ")
unique_words=set(words_list)
d={}
for word in unique_words:
  d[word]=words_list.count(word)
for key,value in d.items():
  print(key+":"+str(value))

the 'amr' occured 2 times.
the 'and' occured 1 times.
the 'ahmed' occured 1 times.
the 'are' occured 1 times.
the 'frindes' occured 1 times.
the 'but' occured 1 times.
the 'amr' occured 2 times.
the 'is' occured 1 times.
the 'the' occured 1 times.
the 'tallest' occured 1 times.
and:1
the:1
but:1
amr:2
are:1
is:1
ahmed:1
frindes:1
tallest:1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
user=input("enter: ")
print("the upper is: ",user.upper())
print("the lower is: ",user.lower())

enter: salma
the upper is:  SALMA
the lower is:  salma

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
string=input("enter: ")
if len(string)%4==0:
  print(string[::-1])
else:
  print(string)

enter: salma
salma

**10- Write a Python program to remove a newline in Python

In [ ]:
user="""
hello my name is salma
my age is 21
"""
news=""
for i in user :
  if i=='\n':
    user=user.replace(i," ")
print(user)

 hello my name is salma  my age is 21

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
my_str=input("enter: ")
if my_str[0] in ('$','#',"*"):
  print("yup")
else:
  print(my_str)

enter: $#sa
yup

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
prefix_text ="Hello, "
input_user=input("enter your name: ")
print(f"{prefix_text}{input_user}")

enter your name: salma
Hello, salma

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
user=float(input("enter a number: "))
print(round(user,2))

enter a number: +123
123.0

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
user=input("enter a number: ")
sign=""
if  user[0]=='+':
  sign=user[0]
user=float(user)
print(f"{sign}{round(user,2)}")

enter a number: +123
+123.0

**15-Write a Python program to display a number with a comma separator

In [ ]:
user=input("enter a number: ")
user=user.replace(".",",")
print(user)

enter a number: 123.45
123,45

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
s="salma"
print(s[::-1])
revers=""
i=1
while i !=(len(s)+1):
  revers+=s[-i]
  i+=1
print(revers)

amlas
amlas

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
user=input("enter a string: ")
my_l=list(user)
d={}
for i in my_l:
  d[i]=my_l.count(i)
print(d)

enter a string: salma
{'s': 1, 'a': 2, 'l': 1, 'm': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
user=input("enter a string: ")
my_l=list(user)
d={}
for i in my_l:
  if my_l.count(i)==1:
    d[i]=my_l.count(i)
print(d)

enter a string: salma ashraf
{'l': 1, 'm': 1, ' ': 1, 'h': 1, 'r': 1, 'f': 1}

**19-Write a Python program to remove spaces from a given string

In [ ]:
user=input("enter: ")
user=user.replace(" ","")
print(user)

enter: salma ashraf
salmaashraf

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
user=input("enter: ")
counter=len(user.split(" "))
print(f"count the number of non-empty substrings {counter}")

enter: salma as mon
count the number of non-empty substrings 3

**21-write a Python program to swap first and last element of any list.

In [ ]:
l=[1,2,3,4,5]
l[0],l[-1]=l[-1],l[0]
print(l)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
def swap_fun(my_list,from_pos,to_pos):
  my_list[from_pos-1],my_list[to_pos-1]=my_list[to_pos-1],my_list[from_pos-1]
  return my_list
swap_fun([23,65,19,60],1,3)

[19, 65, 23, 60]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
l=[1,2,3,45,6,7]
max(l)

45

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
l=[1,2,3,45,6,7]
min(l)

1

**26-search for if an elem is existing in list

In [ ]:
user=int(input("enter a number: "))
l=[1,2,3,4,5,6,7]
if user in l:
  print(f"yes its in list in index {l.index(user)}")
else:
  print("no its not found")

enter a number: 20
no its not found

**27- clear python list using different ways

In [ ]:
l=[1,2,3,4,5,6]
#l.clear()
"""
for i in range(len(l)):
  l.pop()
  """
print(l)

[2, 3, 4, 5, 6]
[2, 4, 5, 6]
[2, 4, 6]
[2, 4, 6]

**28-remove duplicated elements from a list

In [ ]:
l=[1,2,3,4,5,1,2,2]
new_l=[]
for i in l:
  if l.count(i)==1:
    new_l.append(i)
# or
for i in l:
  if l.count(i)>1:
    l.remove(i)
print(l)
print(new_l)

[3, 4, 5, 1, 2, 2]
[3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

[{'name': 'is'}, {'name': 'is'}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
l=[1,2,3,4,5,7,7,8,9,1,2,2]
d={}
n={}
counter=0
for i in l:
  d[i]=l.count(i)
print(d)
unique_values=set(l)
for i in range(len(l)):
  j=i+1
  for j in range(len(l)):
    if l[i]==l[j]:
      counter+=1
      n[l[i]]=counter
  counter=0


print(n)

{1: 2, 2: 3, 3: 1, 4: 1, 5: 1, 7: 2, 8: 1, 9: 1}
{1: 2, 2: 3, 3: 1, 4: 1, 5: 1, 7: 2, 8: 1, 9: 1}

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
k=int(input("enter freq: "))
l=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
final=[]
for i in l:
  if l.count(i)>k:
    final.append(i)
final=set(final)
final=list(final)
print(final)

enter freq: 3
[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
l=input("enter your list of numbers: ")
l=l.split(" ")
l2=[]
final=[]
for i in l:
  i=int(i)
  l2.append(i)
for i in range(len(l2)-1):
  k=max(l2[i],l2[i+1])
  final.append(k)
print(final)

enter your list of numbers: 2 2 3 4 5 6 7 8
[2, 3, 4, 5, 6, 7, 8]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
from itertools import permutations
all_permutations = permutations([1,2,3])
list(all_permutations)

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
l=[1,2,3]
l2=[]
l3=[]
final=[]
for k in range(3):
  l2.clear()
  for i in l[k:]:
     l2.append(i)
     print(l2)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
final=[]
for i in ["a","b","c"]:
  for j in [1,2,3]:
    t=i,j
    final.append(t)
final

[('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 1),
 ('c', 2),
 ('c', 3)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
l=[1,1,2,3,4,5,1,2,1]
d={}
l2=[]
l3=[]
idx=0
for i in l:
  d[i]=l.count(i)
l2=list(d.values())
mx=max(l2)
for key ,v in d.items():
  if d[key]==mx:
    idx=key
for i in l:
  if i!=idx:
    l3.append(i)
l3

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
l=["Gfg","is","best"]
l2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
l3=[]
for i in l2:
  l3.append(l[i])
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
t=[(4, 5, 5, 4), (5, 4, 3)]
k=5
n=3
f=[]
for tuple_ in t:
  if tuple_.count(k)==n:
    f.append(tuple_)
f

[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
"""
l[0][1]=min(l[0])
l[1][1]>l[0][1]
f=[]
col=2
x=0
m=min(l[0])
idx=l[0].index(m)
m2=0
l[0][col],l[0][idx]=m,l[0][col]
for i in range(len(l[1])):
  if l[1][i]!=m:
    f.append(l[1][i])
m2=min(f)
idx=l[1].index(m2)
if idx==col:
  l[1]=l[1]
print(l[1])
l[2][col],l[2][0]=3,l[2][2]
print(l)
"""
l=[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
s=set(l[0])
s1=set(l[1])
s2=set(l[2])
k=s1.union(s2)
final=s.union(k)
final=list(final)
final.sort()
col=0
f.append(min(l[0]))
for i in range(len(l)):
  m=final[i]
  idx=l[i].index(m)
  if idx==col:
    l[i]=l[i]
  l[i][col],l[i][idx]=m,l[i][col]
print(l)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
user=input("what do you want to sort dict by key or value: ").lower()
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
if user=="key":
  for key in d.keys():
    for key2 in d.keys():
      if key[0]>key2[0]:
        key,key2=key2,key
  print(d)

elif user=="value" :
  d2={}
  d3={}
  l=[]
  for value in d.values():
    l.append(value)
  l.sort()
  for i in l:
    for key in d.keys():
      if d[key]==i:
        d3[key]=i
  print(d3)

what do you want to sort dict by key or value: value
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
k=int(input("enter: "))
d={'a':'cs','for':6,'gfg':3,'best':10}
d2={}
for key,v in d.items():
  if type(v)!=str and type(v)!=bool :
    if v<k:
      d2[key]=v
  else:
      d2[key]=v
print(d2)

enter: 3
{'a': 'cs'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d=[]
d.append(d1)
d.append(d2)
d.append(d3)
q={}
for i in range(3):
 for k,v in d[i].items():
  q[k]=v
print(q)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d={1:100,2:200,3:300}
for key,v in d.items():
  print(key,v)

1 100
2 200
3 300

**44- Write a Python script to merge two Python dictionaries

In [ ]:
d={1:100,2:200}
d2={3:300,4:400}
def fun(*d):
  my_d=[]
  final_d={}
  for i in d:
    my_d.append(i)
  print(my_d)
  for i in range(len(my_d)):
    for k,v in my_d[i].items():
      final_d[k]=v
  return final_d
fun(d,d2)

[{1: 100, 2: 200}, {3: 300, 4: 400}]

{1: 100, 2: 200, 3: 300, 4: 400}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
d={1: 100, 2: 200, 3: 300, 4: 400}
l=list(d.values())
print(min(l))
print(max(l))

100
400

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
d={1: None, 2: 200,10:None, 3: 300, 4: 400,5:None}
k=[]
for keys,i in d.items():
  if i==None:
    k.append(keys)
for i in k:
  d.pop(i)
print(d)

{2: 200, 3: 300, 4: 400}

**47-Write a Python program to create a tuple of numbers and print one item

In [105]:
t=1,2,3,4,5
print(t[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [106]:
x,y,z=(1,2,3)

**49-Write a Python program to add an item to a tuple

In [108]:
t=1,
t=list(t)
t.append(999)
t=tuple(t)
t

(1, 999)

**50-Write a Python program to convert a tuple to a string

In [109]:
t=(1,2,3,4,5)
t=str(t)
t

'(1, 2, 3, 4, 5)'

**51-Write a Python program to convert a list to a tuple

In [110]:
l=[1,2,3,4]
l=tuple(l)
l

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [111]:
t=1,2,3,4,5,6
l=list(t)
l=l[::-1]
t=tuple(l)
t

(6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [115]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for i in range(len(l)):
  l[i]=list(l[i])
  l[i][-1]=100
  l[i]=tuple(l[i])

l

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [119]:
string="python 3.0"
l=[]
for i in string:
  l.append(i)
tuple(l)

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [120]:
t=1,2,3,4,5,6,7,8,9
sum=0
avg=0
length=len(t)
for i in t:
  sum+=i
avg=sum/length
avg

5.0

**56-Write a Python program to add member(s) to a set.

In [122]:
s={1,2,3,4}
s.add(100)
s

{1, 2, 3, 4, 100}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [127]:
x=500
s={1,2,3,100}
if x in s:
  s.remove(x)
  print(s)
else:
  print("not found in set")

not found in set

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [128]:
s={1,2,3,4,5,6}
s2={10,20,30,1,2,3}
union=s.union(s2)
intersticon=s.intersection(s2)
symm_diff=s.symmetric_difference(s2)
print(union)
print(intersticon)
print(symm_diff)

{1, 2, 3, 4, 5, 6, 10, 20, 30}
{1, 2, 3}
{4, 5, 6, 10, 20, 30}

**59-Write a Python program to find the maximum and minimum values in a set

In [130]:
s={1,2,3,4}
min(s)
max(s)

4

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [138]:
l=[1,2,3,0,5,-2,1,4]
num=5
lf=[]
for i in range(len(l)):
  j=i+1
  for j in range(len(l)):
    if l[i]+l[j]==num and j-i==1:
      t=l[i],l[j]
      if t not in lf:
          lf.append(t)


lf

[(2, 3), (0, 5), (1, 4)]