In [2]:
import pandas as pd 
from scipy.stats import ttest_ind
df = pd.read_csv("website_ab_test (1).csv")
df.head()

,Theme,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Location,Session_Duration,Purchases,Added_to_Cart
0,Light Theme,0.054920,0.282367,0.405085,72.489458,25,Chennai,1535,No,Yes
1,Light Theme,0.113932,0.032973,0.732759,61.858568,19,Pune,303,No,Yes
2,Dark Theme,0.323352,0.178763,0.296543,45.737376,47,Chennai,563,Yes,Yes
3,Light Theme,0.485836,0.325225,0.245001,76.305298,58,Pune,385,Yes,No
4,Light Theme,0.034783,0.196766,0.765100,48.927407,25,New Delhi,1437,No,No

In [4]:
# dataset summary
summary = {
    'Number of Records': df.shape[0], # to get number of rows
    'Number of Columns': df.shape[1], # to get number of columns 
    'Missing Values': df.isnull().sum().sum(), # to count missing values
    'Numerical Columns Summary': df.describe() # give us quick statistcal info about numerical columns
}

summary

{'Number of Records': 1000,
 'Number of Columns': 10,
 'Missing Values': 0,
 'Numerical Columns Summary':        Click Through Rate  Conversion Rate  Bounce Rate  Scroll_Depth  \
 count         1000.000000      1000.000000  1000.000000   1000.000000
 mean             0.256048         0.253312     0.505758     50.319494
 std              0.139265         0.139092     0.172195     16.895269
 min              0.010767         0.010881     0.200720     20.011738
 25%              0.140794         0.131564     0.353609     35.655167
 50%              0.253715         0.252823     0.514049     51.130712
 75%              0.370674         0.373040     0.648557     64.666258
 max              0.499989         0.498916     0.799658     79.997108

                Age  Session_Duration
 count  1000.000000       1000.000000
 mean     41.528000        924.999000
 std      14.114334        508.231723
 min      18.000000         38.000000
 25%      29.000000        466.500000
 50%      42.000000        931.000000
 75%      54.000000       1375.250000
 max      65.000000       1797.000000  }

In [10]:
df.groupby('Theme')[["Conversion Rate","Session_Duration","Age","Click Through Rate","Bounce Rate","Scroll_Depth"]].mean()

,Conversion Rate,Session_Duration,Age,Click Through Rate,Bounce Rate,Scroll_Depth
Theme,,,,,,
Dark Theme,0.251282,919.482490,41.332685,0.264501,0.512115,49.926404
Light Theme,0.255459,930.833333,41.734568,0.247109,0.499035,50.735232

In [11]:
conversion_rates_light = df[df['Theme'] == 'Light Theme']['Conversion Rate']
conversion_rates_dark = df[df['Theme'] == 'Dark Theme']['Conversion Rate']

# performing a two-sample t-test
t_stat, p_value = ttest_ind(conversion_rates_light, conversion_rates_dark, equal_var=False)

t_stat, p_value

(0.4748494462782632, 0.6349982678451778)

In [12]:
# extracting click through rates for both themes
ctr_light = df[df['Theme'] == 'Light Theme']['Click Through Rate']
ctr_dark = df[df['Theme'] == 'Dark Theme']['Click Through Rate']

# performing a two-sample t-test
t_stat_ctr, p_value_ctr = ttest_ind(ctr_light, ctr_dark, equal_var=False)

t_stat_ctr, p_value_ctr

(-1.9781708664172253, 0.04818435371010704)

In [13]:
# extracting bounce rates for both themes
bounce_rates_light = df[df['Theme'] == 'Light Theme']['Bounce Rate']
bounce_rates_dark = df[df['Theme'] == 'Dark Theme']['Bounce Rate']

# performing a two-sample t-test for bounce rate
t_stat_bounce, p_value_bounce = ttest_ind(bounce_rates_light, bounce_rates_dark, equal_var=False)

# extracting scroll depths for both themes
scroll_depth_light = df[df['Theme'] == 'Light Theme']['Scroll_Depth']
scroll_depth_dark = df[df['Theme'] == 'Dark Theme']['Scroll_Depth']

# performing a two-sample t-test for scroll depth
t_stat_scroll, p_value_scroll = ttest_ind(scroll_depth_light, scroll_depth_dark, equal_var=False)

# creating a table for comparison
comparison_table = pd.DataFrame({
    'Metric': ['Click Through Rate', 'Conversion Rate', 'Bounce Rate', 'Scroll Depth'],
    'T-Statistic': [t_stat_ctr, t_stat, t_stat_bounce, t_stat_scroll],
    'P-Value': [p_value_ctr, p_value, p_value_bounce, p_value_scroll]
})

comparison_table

               Metric  T-Statistic   P-Value
0  Click Through Rate    -1.978171  0.048184
1     Conversion Rate     0.474849  0.634998
2         Bounce Rate    -1.201888  0.229692
3        Scroll Depth     0.756228  0.449692